* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

::selection {
  color: none;
  background: none;
}

@font-face {
  font-family: "FjallaOne";
  src: url("/fonts/FjallaOne-Regular.ttf") format("truetype");
}

#siteContainer {
  height: 100%;
}

#header {
  margin: 20px;
}

#app {
  margin: 20px;
}

#footer {
  color: gray;
  text-align: center;
  font-size: 0.8em;
  margin-top: 40px;
  margin-bottom: 20px;
}

#footer a {
  color: gray;
  font-weight: bold;
}