@page "/moodboard/{moodboardId}"
@using MoodBoard.Shared;
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<style>
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .topic {
        min-width: 50px;
        min-height: 50px;
    }

    .icon {
        min-width: 50px;
        min-height: 50px;
        font-size: 40px;
    }
</style>

@if (showPage)
{
    <p>Current count: @currentCount</p>
    <span>moodboardid: @moodboardId</span>
    <div class="container">
        <div class="topic">Team</div>
        <div class="icon" @onclick="() => ProcessNewVote(VoteType.TeamHappy)">🤠</div>
        <div class="icon" @onclick="() => ProcessNewVote(VoteType.TeamMeh)">🙂</div>
        <div class="icon" @onclick="() => ProcessNewVote(VoteType.TeamSad)">😭</div>
        <div class="topic">Process</div>
        <div class="icon" @onclick="() => ProcessNewVote(VoteType.ProcessHappy)">🤠</div>
        <div class="icon" @onclick="() => ProcessNewVote(VoteType.ProcessMeh)">🙂</div>
        <div class="icon" @onclick="() => ProcessNewVote(VoteType.ProcessSad)">😭</div>
        <div class="topic">End result</div>
        <div class="icon" @onclick="() => ProcessNewVote(VoteType.EndResultHappy)">🤠</div>
        <div class="icon" @onclick="() => ProcessNewVote(VoteType.EndResultMeh)">🙂</div>
        <div class="icon" @onclick="() => ProcessNewVote(VoteType.EndResultSad)">😭</div>
    </div>
}

@code {
    [Parameter]
    public string moodboardId { get; set; }

    private int currentCount = 0;
    private bool showPage = false;

    private HubConnection voteHub;

    protected override async Task OnInitializedAsync()
    {
        await RegisterWithServer();
        await GetVotesFromServer();
        showPage = true;
    }

    void UpdateClientState(List<Vote> votes)
    {
        currentCount = votes.Count();
        StateHasChanged();
    }

    async Task RegisterWithServer() {
        voteHub = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/votehub"))
            .Build();
        voteHub.On<List<Vote>>("ReceiveVotes", (votes) => UpdateClientState(votes));
        await voteHub.StartAsync();        
        await voteHub.InvokeAsync("AddClientToMoodboard", this.moodboardId);
    }

    Task GetVotesFromServer() =>
        voteHub.InvokeAsync("SendUpdateToAllClientsForMoodboard", this.moodboardId);

    Task ProcessNewVote(VoteType voteType) =>
        voteHub.SendAsync("ProcessNewVote", moodboardId, voteType);

    public ValueTask DisposeAsync() =>
        voteHub.DisposeAsync();
}