@page "/moodboard/"
@page "/moodboard/{moodboardIdParameter}"
@using MoodBoard.Shared;
@using MoodBoard.Models;
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<style>
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .topic {
        min-width: 50px;
        min-height: 50px;
    }

    .icon {
        min-width: 50px;
        min-height: 50px;
        font-size: 40px;
    }

    .icon.notvoted {
        cursor: pointer;
    }     

    .icon.alreadyvoted {
        cursor: not-allowed;
        color: gray;
    }        

    .icon.winner {
        color: red;
    }

    .icon.loser {

    }    
</style>

@if (showPage)
{
    <div class="container">
        @foreach (var topic in topicConfiguration)
        {
            var alreadyVotedOnTopic = topicsVotedOn.Contains(topic);
            <div class="topic">@topic.Name</div>
            @foreach (var option in topic.VoteOptions)
            {
                var voteCountForOption = votes.Count(vote => vote.topicId == topic.Id && vote.VoteId == option.Id);
                <div 
                    class="icon @(alreadyVotedOnTopic ? "alreadyvoted" : "notvoted")" 
                    @onclick="() => ProcessNewVote(option.Id, topic, alreadyVotedOnTopic)">@option.Emoji (@voteCountForOption)
                </div>
            }
        }
    </div>
    <button>Show Results (only visible after you voted on all topics)</button>
}

@code {
    [Parameter]
    public string moodboardIdParameter { get; set; }

    private List<Vote> votes = new List<Vote>();
    private List<VoteTopic> topicsVotedOn = new List<VoteTopic>();
    private bool showPage = false;
    private Guid moodboardId;
    private List<VoteTopic> topicConfiguration;
    private HubConnection voteHub;

    protected override async Task OnInitializedAsync()
    {
        GenerateNewMoodboardIdIfNoValidIdFound();
        InitializeVotingTopics();
        await RegisterWithServer();
        await GetVotesFromServer();
        showPage = true;
    }

    void InitializeVotingTopics()
    {
        this.topicConfiguration = new List<VoteTopic> {
            new VoteTopic(1, "Team", new List<VoteOption> {
                new VoteOption(1, "🤠"),
                new VoteOption(2, "🙂"),
                new VoteOption(3, "😭"),
            }),
            new VoteTopic(2, "Process", new List<VoteOption> {
                new VoteOption(1, "🤠"),
                new VoteOption(2, "🙂"),
                new VoteOption(3, "😭"),
            }),
            new VoteTopic(3, "End result", new List<VoteOption> {
                new VoteOption(1, "🤠"),
                new VoteOption(2, "🙂"),
                new VoteOption(3, "😭"),
            })
        };
    }

    void GenerateNewMoodboardIdIfNoValidIdFound()
    {
        bool validGuidFound = Guid.TryParse(this.moodboardIdParameter, out this.moodboardId);

        if (!validGuidFound)
        {
            var newMoodboardId = Guid.NewGuid();
            NavigationManager.NavigateTo($"/moodboard/{newMoodboardId}");
            this.moodboardId = newMoodboardId;
        }
    }

    async Task RegisterWithServer() {
        voteHub = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/votehub"))
            .Build();
        voteHub.On<List<Vote>>("ReceiveVotes", (votes) => ProcessReceivedVotes(votes));
        await voteHub.StartAsync();        
        await voteHub.InvokeAsync("AddClientToMoodboard", this.moodboardId);
    }

    void ProcessReceivedVotes(List<Vote> votes)
    {
        this.votes = votes;
        StateHasChanged();
    }

    async Task ProcessNewVote(int voteId, VoteTopic topic, bool alreadyVotedOnTopic) {
        if (!alreadyVotedOnTopic) {
            topicsVotedOn.Add(topic);
            await voteHub.SendAsync("ProcessNewVote", moodboardId, topic.Id, voteId);
        }
    }

    Task GetVotesFromServer() =>
        voteHub.InvokeAsync("SendUpdateToAllClients", this.moodboardId);

    public ValueTask DisposeAsync() =>
        voteHub.DisposeAsync();
}