@page "/moodboard/{moodboardId}"
@using MoodBoard.Shared;
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<style>
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .topic {
        min-width: 50px;
        min-height: 50px;
    }

    .icon {
        min-width: 50px;
        min-height: 50px;
        font-size: 40px;
    }
</style>

@if (showPage)
{
    <p>Current count: @currentCount</p>
    <button class="btn btn-primary" @onclick="Vote">SmileyFace</button>
<span>moodboardid: @moodboardId</span>
    <div class="container">
        <div class="topic">Team</div>
        <div class="icon">🤠</div>
        <div class="icon">🙂</div>
        <div class="icon">😭</div>
        <div class="topic">Process</div>
        <div class="icon">🤠</div>
        <div class="icon">🙂</div>
        <div class="icon">😭</div>
        <div class="topic">End result</div>
        <div class="icon">🤠</div>
        <div class="icon">🙂</div>
        <div class="icon">😭</div>
    </div>
}

@code {
    [Parameter]
    public string moodboardId { get; set; }

    private int currentCount = 0;
    private bool showPage = false;
    private Guid topicId = Guid.NewGuid();
    private Guid voteId = Guid.NewGuid();

    private HubConnection voteHub;

    protected override async Task OnInitializedAsync()
    {
        voteHub = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/votehub"))
            .Build();
        voteHub.On<List<Vote>>("ReceiveVotes" + moodboardId, (votes) => UpdateClientState(votes));
        await voteHub.StartAsync();
        await voteHub.InvokeAsync("UpdateAllClients", this.moodboardId);
        showPage = true;
    }

    void UpdateClientState(List<Vote> votes)
    {
        currentCount = votes.Count();
        StateHasChanged();
    }

    async Task Vote() =>
        await voteHub.SendAsync("Vote", moodboardId, topicId, voteId);

    public async ValueTask DisposeAsync() =>
        await voteHub.DisposeAsync();
}