::selection {
    color: none;
    background: none;
}

@font-face {
    font-family: "FjallaOne";
    src: url("fonts/FjallaOne-Regular.ttf") format("truetype");
}

@keyframes flip-scale-down {
    0% {
        transform: scale(1) rotate3d(-1, 1, 0, 0deg);
        opacity: .6;
    }
    50% {
        transform: scale(0.4) rotate3d(-1, 1, 0, -90deg);
        opacity: .6;
    }
    100% {
        transform: scale(1) rotate3d(-1, 1, 0, 0deg);
    }
}

.infoText {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    place-items: center;
    row-gap: 2.5em;
}

.button {
    font-size: 1.4em;
}

.topic {
    font-family: FjallaOne, Arial, Helvetica, sans-serif;
    font-size: 2.5em;
}

.topic .voteCount {
    font-family: FjallaOne, Arial, Helvetica, sans-serif;
    font-size: 0.5em;
    color: gray;
}    

.icon {
    cursor: pointer;
    font-size: 4em;
    opacity: .5;
    padding: 10px;
}

.icon.voted {
    opacity: 1;
    text-shadow: 2px 2px lightgray;
    animation: flip-scale-down 0.4s linear both;
} 

.icon.winner {
    cursor: default;
    text-shadow: 2px 2px lightgray;
    opacity: 1;
}  

.icon.loser {
    cursor: default;
    color: transparent;
    text-shadow: 0 0 0 gray;
}      

.icon .voteCount {
    margin-left: 5px;
    font-family: FjallaOne, Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    text-shadow: none;
}   

.icon .voteCount.placeholder {
    visibility: hidden;
}
